<article class="sk-box">
    <p><em><b>{{data.label}}</b>: {{data.description}}</em></p>
    <ul class="sk-check {{#if data.extended}}sk-two{{/if}}">
        {{#each data.choices as |choice index|}}
            {{#if choice.text}}
                <li>
                    {{choice.text}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</article>
